{% extends 'base.html' %}
{% load humanize %}

{% block container %}
<div class="bg-primary p-1 rounded text-light mb-3">
    <div class="pb-1">
        <small>{{ request.user }}님 자산</small>
        <div><strong>{{ total_assets|intcomma }}원</strong></div>
    </div>
    <div>
        <small>{{ request.user }}님 월세액</small>
        <div><strong>3,400,000원</strong></div>
    </div>
</div>
<div class="rounded mb-3">
    <div class="d-flex justify-content-between">
        <h4 class="d-inline">자산 리스트</h4> 
        <a class="btn btn-success btn-sm mb-1" href="{% url 'thorny_road:add_asset' %}">+자산 추가</a> 
    </div>
    {% for a in assets %}
    <div class="bg-success text-light rounded p-1 mb-2">
        {{ a.collateral.name }}
        <div>지분율 <strong>{{ a.share_rate }}%</strong></div>
        <div>자산 상승률 <strong>30%</strong></div>
    </div>
    {% endfor %}
</div>
<div class="rounded mb-3">
    <h4>부채 리스트</h4>
    <div class="bg-warning text-dark rounded p-1">
        이편한세상 상록 대출금
        <div>금액 <strong>60,000,000원</strong></div>
        <div>이율 <strong>5.5%</strong></div>
        <div>계약 종료일 <strong>2022년 3월 25일</strong></div>
    </div>
</div>
{% endblock %}